<h3>Artist Details</h3><br></br>
<p>Artist Name:<%= @artist.name %></p>
<p><strong>Artist Songs:</strong><% @artist.songs.each do |song| %></p>
<p>Song Name: <a href="/songs/<%= song.slug %>"> <%= song.name %> </a></p>
<% end %>
<p><strong>Artist Genres:</strong><% @artist.genres.each do |genre| %></p>
<p>Genre Name: <a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
<% end %>